/* Eric Meyer's Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    max-width: 100%;
}

body {
    line-height: 1.2;
    font-size: 14px;
    font-family: "Roboto";
    color: #4c4c4c;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Global Typography */

*,
:before,
:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
}

.profile-wrap form ::placeholder {
    font-size: 14px;
}

.search-brand::placeholder {
    opacity: 1;
}

body {
    overflow: auto !important;
    padding: 0 !important;
}

/* Global Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: #161e21;
}

h1 {
    color: #161e21;
    font-size: 125px;
    font-weight: bold;
}

h2 span {
    display: block;
}

h2 {
    font-size: 63px;
    color: #161e21;
    font-weight: 600;
}

h3 {
    font-size: 45px;
    font-weight: 700;
    color: #141414;
}

h4 {
    font-size: 30px;
    font-weight: 700;
}

h5 {
    font-size: 17px;
    color: #161e21;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 22px;
}

h6 {
    font-size: 18px;
    color: #161e21;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 19px;
}

blockquote,
cite,
q,
var,
dfn {
    font-style: italic;
}

small {
    font-size: 85.71429%;
    line-height: 1.75;
}

img {
    max-width: 100%;
    height: auto;
}


/* Global Link style */

a {
    color: #383838;
    text-decoration: none;
    outline: none;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* Global Button Styles */

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}


/* Global Sprite Icons */

[class^="icon-"],
[class*="icon-"] {
    background-image: url(../images/sprites.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 22px;
}


/* Clearfix class*/

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

* html .clearfix {
    height: 1%;
}

input:focus {
    outline: 0;
}


/*---- fonts ------*/

.btn {
    padding: 18px 38px 19px;
    border: 1px solid #999999;
    letter-spacing: 0.7px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border-radius: 40px;
}


/* Global style */

#wrapper {
    position: relative;
}

/* .container {
    max-width: 1920px;
    padding: 0 85px 0 75px;
    margin: 0 auto;
} */


/* common-css */

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-space {
    justify-content: space-between;
}

.header {
    background: #ffffff;
}

.shop-now {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    position: relative;
    transition: all 0.5s ease;
    padding: 10px 23px;
    background: #f86202;
    border-radius: 4px;
    /* overflow: hidden; */
    border: 1px solid #f86202;
    transition: all 0.5s ease 0s;
}

.shop-now:hover {
    background: #ffffff;
    border: 1px solid #f86202;
    color: #f86202;
}

.new {
    color: #a292b3;
    font-size: 20px;
    font-weight: 600;
    background: #f7f5f6;
    padding: 11px 32px;
    display: inline-block;
    font-family: "Roboto";
}

.icon-wishlist {
    background-position: -323px -18px;
    width: 30px;
    height: 28px;
    cursor: pointer;
    margin-right: 20px;

    /* background-position: -70px -17px; */
}

.icon-avatar {
    background-position: -9px -279px;
    background-size: 450px 350px;
    width: 22px;
    height: 22px;
}

.icon-wishlist.red-heart {
    background-position: -25px -456px;
    width: 30px;
    height: 28px;
}

.wish .icon-wishlist {
    margin: 0;
}

.icon-diaryprev {
    background-position: -341px -98px;
    width: 13px;
    height: 22px;
}

.icon-diarynext {
    background-position: -398px -98px;
    width: 13px;
    height: 22px;
}

.full-width-view {
    width: 100% !important;
    padding: 35px 0 60px;
    /* border-top: 1px solid #cecece; */
    border-bottom: 1px solid #cecece;
}


/* header */

.header-area {
    text-align: center;
    padding: 13px 0 13px 0;
    /* background: #d16d38; */
}

/* .header-area .container {
    padding: 0;
} */

.header-area span {
    color: #4c4c4c;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.header-login {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.login a {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto";
    color: #303030;
    margin-right: 0 !important;
    display: block;
}

.login a:hover {
    color: #d16d38;
}

.logo-class {
    font-size: 37px;
    font-weight: 600;
    color: #5e6df2;
    font-family: "Roboto";
    cursor: pointer;
}

.list {
    width: 32%;
    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 32%;
    text-align: center;
    cursor: pointer;
}

.login-content {
    margin-top: 10px;
}

.signup-register {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.cart-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-wrap:after {
    position: absolute;
    top: 0;
    left: -15px;
    height: 100%;
    width: 1px;
    background: #ecedf1;
    content: "";
}

.signin-register {
    /* border-bottom: 3px solid #d26f34; */
    /* padding-bottom: 3px; */
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    margin-right: 15px;
}

.avtar-wrap {
    margin-right: 5px;
}

.sign-in {
    position: relative;
    margin-right: 15px;
}

.sign-in::before {
    content: "";
    width: 25px;
    height: 2px;
    transform: rotate(104deg);
    position: absolute;
    background-color: #303030;
    right: -20px;
    top: 14px;
}


.login .sell-item {
    color: #000000;
    background: #ebddfe;
    padding: 12px 15px;
    font-size: 22px;
}

.icon-sell {
    background-position: -23px -343px;
    width: 33px;
    height: 33px;
    margin-right: 13px;
}

.tooltip {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: -19px;
    left: -20px;
    display: none;
    font-size: 12px;
}

.tooltip:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
}

.notification-wrap {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 325px;
    z-index: 99;
    cursor: auto;
}

.notification-all {
    max-height: 338px;
    overflow-y: auto;
}

.notification-wrap::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #d16d38;
}

.notify-heading {
    border-bottom: 1px solid #cfcfcf;
    padding: 15px;
    text-align: center;
}

.notify-heading h3 {
    color: #7b7b7b;
    font-size: 20px;
}

.notify-list li {
    padding: 8px;
    display: flex;
    background: #fff;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;
}

.notify-list li.active {
    background: #f0f2f5;
}

.notify-list li:last-child {
    border-bottom: none;
}

.notify-list li figure {
    width: 65px;
    margin-right: 15px;
}

.notify-list li figure img {
    object-fit: contain;
}

.notify-content {
    width: 70%;
}

.notify-content p {
    line-height: 1.3;
    font-size: 14px;
    color: #7b7b7b;
}

.notify-content strong {
    font-weight: 700;
    color: #454545;
}

.notify-content .post-date {
    font-size: 13px;
    display: inline-block;
    margin-right: 4px;
}

.notify-content .prev-days {
    font-size: 12px;
}

.wish-list {
    margin: 0px 36px 0 0;
    position: relative;
    width: 28px;
}

.wish-list:hover .tooltip {
    display: block;
    top: -30px;
    left: -13px;
}

.icon-bell {
    background-position: -12px -202px;
    background-size: 450px 350px;
    width: 15px;
    height: 16px;
}

.icon-wish {
    background-position: -12px -228px;
    background-size: 450px 350px;
    width: 15px;
    height: 14px;
}

.addto-cart {
    position: relative;
}

.addto-cart .tooltip {
    left: -8px;
}

.addto-cart:hover .tooltip {
    display: block;
}

.icon-cart {
    background-position: -12px -250px;
    background-size: 450px 350px;
    width: 16px;
    height: 19px;
}

.header-menu {
    background: #fff;
    border-bottom: 1px solid #ecedf1;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
    font-size: 22px;
    color: rgb(76, 76, 76);
    font-weight: 400;
    padding: 23px 0px 23px 0px;
    cursor: pointer;
    font-family: "Roboto";
}

.menu>li>a {
    transition: 0.3s;
}

.menu>li>a.active,
.menu>li>a:hover {
    color: #d16d38;
    /* color: #5e6df2; */
}

.menu>li.sublist-menu {
    transition: all 0.3s;
}

.menu>li.sublist-menu:hover {
    color: #d16d38;
}

.menu .sub-cat-item a:hover {
    color: #d16d38;
}

.menu li span:hover {
    color: #d16d38;
    /* color: #5e6df2; */
}

.menu li span {
    transition: all 0.3s ease-in-out;
    /* text-transform: uppercase; */
    color: #4c4c4c;
    font-size: 17px;
    font-weight: 400;
}

.menu li a {
    color: #4c4c4c;
    font-size: 17px;
    font-weight: 400;
}

.sub-menu {
    width: 100%;
    position: absolute;
    left: -15px;
    top: 29px;
    background-color: #fff;
    z-index: 10;
    padding: 0 0 0 15px;
    box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.menu .sub-menu li {
    padding: 0 10px;
    display: block;
}

.sub-menu li:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.sub-menu li:last-child {
    margin-bottom: 0;
}

.sub-menu2 li:first-child {
    margin-bottom: 0;
}

.sub-menu li a {
    display: block;
    padding: 8px 0;
}

.search-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-brand {
    width: 55%;
    flex-grow: 1;
    padding: 10px 0 10px 27px;
    position: relative;
    background: #f5f5f6;
    border-radius: 85px;
    margin-left: 5%;
    border: 1px solid #ecedf1;
}

.search-brand input {
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 300;
    border: 0;
    width: 100%;
    background: none;
    font-family: "Roboto";
}

.search-brand .react-autosuggest__container {
    width: calc(100% - 50px);
    position: relative;
}

.icon-search {
    background-position: -209px -15px;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.menu-strip {
    display: none;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    left: -15px;
    top: 100%;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding: 0 15px;
    max-height: 350px;
    overflow-y: auto;
}

.react-autosuggest__suggestions-container--open {
    border-radius: 6px;
    border: 1px solid #b4b4b4;
}

.react-autosuggest__suggestion {
    padding: 10px 0;
    font-size: 21px;
    color: #4a4a4a;
    font-weight: 300;
    border: 0;
    font-family: "Roboto";
    cursor: pointer;
}

.select-opt__option,
.select-opt__indicator,
.select-opt__value-container {
    cursor: pointer !important;
}

/* footer */

.footer {
    border-top: 1px solid #cecece;
    background: #733381;
    font-family: "Roboto";
}

.footer-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 40px 0px 0px;
}

.footer-box {
    width: 16%;
}

.footer-box h3 {
    font-size: 18px;
    color: #fefefe;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: "Roboto";
}

.footer-box li {
    margin-bottom: 10px;
}

.footer-box a {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 0px;
    font-family: "Roboto";
    text-transform: capitalize;
}

.copyright-block {
    color: #4c4c4c;
    font-weight: 400;
    font-size: 13px;
    padding: 20px 43px;
    background-color: #f5f5f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-info {
    display: inline-block;
}

.copyright-block a {
    display: inline-block;
    color: #4c4c4c !important;
    margin: 0 10px 0 0;
    font-size: 13px;
}

.footer-box a:hover {
    color: #d16d38;
}

.footer-box i {
    margin-right: 20px;
}

.icon-insta {
    background-position: -316px -204px;
    width: 35px;
    height: 35px;
}

.icon-fb {
    background-position: -226px -204px;
    width: 38px;
    height: 36px;
}

.icon-twitter {
    background-position: -269px -204px;
    width: 38px;
    height: 36px;
}

.icon-join {
    background-position: -742px -18px;
    width: 27px;
    height: 27px;
}

.signin-register .profile-name {
    font-size: 14px;
    font-weight: 600;
    color: #303030;
    margin-left: 4px;
    transition: all 0.5s;
}

.logout-container {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.userName-container {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.userName-container:hover .logout-container {
    display: block;
    top: 100%;
    background: #fff;
    left: -15px;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px 0;
}

.userName-container .signin-register {
    border-bottom: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 13px 0 0;
    position: relative;
    letter-spacing: 0.7px;
}

.userName-container .signin-register::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
    width: 8px;
    height: 8px;
    border-left: 2px solid #4a4a4a;
    border-bottom: 2px solid #4a4a4a;
    transition: all 0.5s;
}

.userName-container:hover .signin-register::after {
    transform: translateY(0%) rotate(-225deg);
    border-left: 2px solid #d16d38;
    border-bottom: 2px solid #d16d38;
}

.userName-container:hover .profile-name {
    color: #d16d38;
}

.logout-container div {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    background-color: #fff;
}

.footer-logowrap {
    padding: 15px 0px 35px 0px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.uniform-text::first-letter {
    text-transform: uppercase;
}


/* ############ Bazaar  ######### */

.search-view {
    width: 600px !important;
    position: relative;
    padding-left: 40px;
}

.search-box-header {
    padding: 15px 20px 15px 50px;
    border-radius: 26.5px;
    color: #4c4c4c;
    font-size: 16;
    font-weight: 300;
    border: 0;
    width: 100%;
    height: 54px;
    font-family: "Roboto";
    background-color: #f5f5f6;
}

.search-view .icon-search {
    top: 15px;
    right: 22px;
}

.header-text {
    cursor: pointer;
    font-size: 20px;
    display: block;
    color: #4c4c4c;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 0;
    text-transform: none;
    font-family: "roboto";
}

.download-app {
    padding-right: 20px;
}

.save-btn {
    text-align: right;
}

.form-input i {
    position: absolute;
    top: 39px;
    right: 15px;
    color: #999999;
}

.header-sell {
    background-color: #f67900;
    border-radius: 5px;
    text-align: center;
    padding: 8px 20px 8px;
    transition: all 0.5s ease 0s;
    border: 1px solid #f67900;
    color: #fff;
}

.header-sell:hover {
    background: #fff;
    color: #f67900;
}

.header-sell i {
    margin-right: 5px;
    display: inline-block;
}

.header-sell .sell-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
}

.header-sell:hover .sell-text {
    color: #f67900;
}


/* # bazaar header Select  ##########*/

.css-1wa3eu0-placeholder {
    font-size: 14px !important;
    color: #4c4c4c !important;
    font-weight: 400 !important;
    line-height: 1;
    text-transform: none !important;
    position: relative !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    transform: none !important;
    -webkit-transform: none !important;
}


/* .css-yk16xz-control {
  border-width: 0px !important;
} */

.menu .css-1pahdxg-control:hover {
    border-color: #ffff !important;
    /* border-width: 0px !important; */
}

.css-yk16xz-control:active {
    /* border-width: 0px !important;
    border-width: 0px !important; */
}

.menu .select-opt__control--is-focused {
    border-color: #ffffff !important;
    /* border-width: 0px !important; */
    box-shadow: none;
}

.menu .select-opt__control {
    height: auto !important;
}

.css-tlfecz-indicatorContainer,
.css-1gtu0rj-indicatorContainer {
    padding: 0px !important;
    width: 25px !important;
    color: #4c4c4c !important;
}

.css-g1d714-ValueContainer {
    padding: 0px !important;
}


/* # bazaar header Select  End ##########*/

.react-toast-notifications__toast__icon-wrapper {
    background-image: none !important;
    height: auto !important;
}

.remove-scroll-bar {
    overflow: hidden;
}

.costume-box .costume-info .prod-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.costume-box .costume-info .brand {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.share-icon-group {
    display: flex;
    background-image: none !important;
    height: auto;
    vertical-align: auto;
    width: auto;
}

.share-icon-group i {
    font-size: 30px;
    padding: 7px;
}

.wish-list[data-count]:after,
.shop-now[data-count]:after {
    position: absolute;
    right: -4%;
    top: 8%;
    content: attr(data-count);
    font-size: 10px;
    padding: 2px;
    border-radius: 50%;
    line-height: 1em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-height: 13px;
    min-width: 13px;
}

.bm-burger-button {
    display: none !important;
}

.bm-cross {
    font-size: 23px;
}

#sidebar-menu {
    background: #fff !important;
    height: calc(100% - 68px) !important;
    top: 68px;
}

.bm-overlay {
    top: 0;
    height: 100vh !important;
}

.bm-menu {
    overflow: hidden !important;
}

#page-wrap-right-menu {
    height: calc(100% - 127px) !important;
}



#page-wrap-right-menu .msg-card {
    display: flex;
    font-family: 'Roboto';
    /* border-bottom: 1px solid gray; */
    cursor: pointer;
    transition: background-color 200ms ease-in 0s;
    padding: 21px 68px 21px 85px;
}

#page-wrap-right-menu .msg-card:last-child {
    border-bottom: 1px solid rgba(178, 177, 178, 0.4);
}

#page-wrap-right-menu .msg-card:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.notifi-container .notification-card {
    cursor: default;
    margin-bottom: 15px;
}

.notifi-container .notification-card.gray {
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 7px;
}

.contact-list {
    display: flex;
    flex-direction: column;
}

.high-light {
    background: beige;
}

.chat-img-div {
    width: 42px;
    height: 42px;
    margin: 0 8px 4px 0;
}

.chat-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.msg-list-one-line {
    font-family: 'Roboto';
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.25em;
}

.display-none {
    display: none !important;
}

.make-offer-popup .offer-price form {
    margin-bottom: 10px;
}

.make-offer-popup .offer-title {
    font-weight: bold !important;
}

.modal-closeBtn {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.modal-closeBtn:hover {
    background: #f0f0f0;
}

.modal-closeBtn .closeBtn-crossLeft,
.modal-closeBtn .closeBtn-crossRight {
    background: #222222;
}


/* for online offline Text  */
.message-offline {
    position: fixed;
    left: 50%;
    top: 0;
    font-size: 2em;
    font-weight: bold;
    padding: 1.5em;
    transform: translate(-50%, -100%);
    transition: transform .25s;
}

#slow {
    background: #FF9800;
    color: white;
}

#offline {
    background: #E91E63;
    color: white;
}

#online {
    background: #4CAF50;
    color: white;
}

.sticky-style {
    
}

body.slow #slow,
body.offline #offline,
body.online #online {
    transform: translate(-50%, 0);
}

/* for online offline Text  END  */